<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/layout :: head('Delivery service - Objednávky')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div th:replace="fragments/layout :: header('Delivery')"></div>

<div id="container">
    <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" th:text="#{orders}">Orders</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-sm btn-primary mr-2"
                   th:href="'/order/new'">
                    <span data-feather="plus"></span>
                    <span th:text="#{new.order.name}">Create new order</span>
                </a>
            </div>
        </div>

        <div th:if="${addErrorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="#{error.order.save.failed} + ': ' + ${addErrorMessage}" />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



    </main>
</div>

<footer th:replace="fragments/layout :: footer"></footer>



</body>
</html>