<!DOCTYPE html>
<html lang="cs" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--Icon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/img/icon/site.webmanifest">
    <link rel="mask-icon" href="/img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    <title>Delivery Service</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{fill.order.id}">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="orderId" class="form-control" th:placeholder="#{order.id}">
            </div>
            <div class="modal-footer pt-2 pb-2">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close</button>
                <button id="btnFindPackage" type="button" class="btn btn-sm btn-primary" th:text="#{find.package}">Find</button>
            </div>
        </div>
    </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand mr-4 " style="font-size: 1.9em;" href="/">
        <img style="width: 50px; margin-right: 10px" src="/img/icon.png">
        Delivery Service
    </a>

    <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:text="#{home}">Domů</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{servives}">Služby</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#" th:text="#{national.services}">Vnitrostátní služby</a>
                    <a class="dropdown-item" href="#" th:text="#{international.services}">Mezinárodní služby</a>
                    <a class="dropdown-item" href="#" th:text="#{excess.packages}">Nadměrné balíky</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{about.us}">O nás</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{contact}">Kontakt</a>
            </li>
        </ul>

        <button class="btn btn-warning mr-2" data-toggle="modal" data-target="#exampleModal" th:text="#{find.package}">Najít zásilku</button>
        <a href="/login" class="btn btn-info" th:text="#{login}">Přihlásit se</a>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead masthead-sm text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h1 th:text="#{order.detail}"></h1>
            </div>
            <div class="col-xl-10 mx-auto">
                <h5 class="mb-3 pt-2 border-top" th:text="#{create.order.easily.fast}">Vytvoř online objednávku. Jednoduše a rychle.</h5>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a class="btn btn-lg btn-primary w-50" href="/order/new" th:text="#{send.package}">Pošli balík</a>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center pt-5 pb-5">
    <div class="container">
        <div th:if="${order != null}">
            <div th:replace="orderDetail :: orderState(${order})"></div>
            <div th:replace="orderDetail :: customerAndRecipient(${order})"></div>
            <div th:replace="orderDetail :: package(${order})"></div>
        </div>
        <div th:if="${order == null}">
            <h3 class="text-warning" th:text="#{no.order.found}"></h3>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">O nás</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Kontakt</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Podmínky použití</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Zásady ochrany osobních údajů</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Delivery Service 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#btnFindPackage').click(function () {
            var orderId = $('#orderId').val();
            if(orderId != null && !isNaN(orderId)){
                var url = '/findPackage/' + orderId;
                window.location = url;
            }
            else {
                alert(/*[[#{field.must.be.number(#{order.id})}]]*/ '');
            }
        })
    })

    /*]]>*/
</script>

</body>

</html>

