<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/layout :: head('Delivery service - Objednávky')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
    <div th:replace="fragments/layout :: header('Orders')"></div>

    <div id="container">
        <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="#{orders}">Orders</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a class="btn btn-sm btn-primary mr-2"
                            th:href="'/order/new'">
                        <span data-feather="plus"></span>
                        <span th:text="#{new.order.name}">Create new order</span>
                    </a>
                </div>
            </div>

            <div th:if="${addErrorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="#{error.order.save.failed} + ': ' + ${addErrorMessage}" />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card mb-2">
                <div class="card-header p-2 pl-3 pr-3" th:text="#{filter}">
                    Filter
                </div>
                <div class="card-body clearfix pt-2 pl-3 pr-3 pb-2">
                    <form method="get" id="filterForm" th:action="@{/orders/filter}">
                        <div class="row">
                            <input hidden id="filterPageNumber" name="page" th:value="${(param.page == null) ? 0 : param.page}">
                            <!--OWNER NAME-->
                            <div class="form-group col-sm-6 col-lg-4 col-xl-2" sec:authorize="hasRole('ADMIN')">
                                <label for="ownerName" th:text="#{owner.fullname}">Owner name</label>
                                <input id="ownerName" name="ownerName" type="text" th:value="${param.ownerName}" class="form-control form-control-sm">
                            </div>
                            <!--SENDER NAME-->
                            <div class="form-group col-sm-6 col-lg-4 col-xl-2">
                                <label for="senderName" th:text="#{sender.fullname}">Sender name</label>
                                <input id="senderName" name="senderName" type="text" th:value="${param.senderName}" class="form-control form-control-sm">
                            </div>
                            <!--RECIPIENT NAME-->
                            <div class="form-group col-sm-6 col-lg-4 col-xl-2">
                                <label for="recipientName" th:text="#{recipient.fullname}">Recipient name</label>
                                <input id="recipientName" name="recipientName" type="text" th:value="${param.recipientName}" class="form-control form-control-sm">
                            </div>
                            <!--PAYED-->
                            <div class="form-group col-sm-6 col-lg-4 col-xl-2">
                                <label for="isPayed" th:text="#{is.payed}">Is payed:</label>
                                <select id="isPayed" name="isPayed" class="form-control form-control-sm">
                                    <option value="" th:selected="${(param.isPayed != null) && (param.isPayed[0] == '')}">--</option>
                                    <option value="true" th:selected="${(param.isPayed != null) && (param.isPayed[0] == 'true')}">Payed</option>
                                    <option value="false" th:selected="${(param.isPayed != null) && (param.isPayed[0] == 'false')}">Not payed</option>
                                </select>
                            </div>
                            <!--ORDER BY-->
                            <div class="form-group col-sm-6 col-lg-4 col-xl-2">
                                <label for="orderBy" th:text="#{order.by}">Order by:</label>
                                <select id="orderBy" name="orderBy" class="form-control form-control-sm">
                                    <option value="createDate" th:text="#{create.date.name}"
                                            th:selected="${(param.orderBy != null) && (param.orderBy[0] == 'createDate')}">Create date</option>
                                    <option sec:authorize="!hasRole('DRIVER')" value="state" th:text="#{order.state.name}"
                                            th:selected="${(param.orderBy != null) && (param.orderBy[0] == 'state')}">Order state</option>
                                    <option sec:authorize="hasRole('ADMIN')" value="u.fullname" th:text="#{owner.fullname}"
                                            th:selected="${(param.orderBy != null) && (param.orderBy[0] == 'u.fullname')}">Owner name</option>
                                    <option value="cu.fullname" th:text="#{sender.fullname}"
                                            th:selected="${(param.orderBy != null) && (param.orderBy[0] == 'cu.fullname')}">Sender name</option>
                                    <option value="r.fullname" th:text="#{recipient.fullname}"
                                            th:selected="${(param.orderBy != null) && (param.orderBy[0] == 'r.fullname')}">Recipient name</option>
                                </select>
                            </div>
                            <button type="submit" onclick="$('#filterPageNumber').val(0);" class="btn btn-sm btn-warning col-sm-3 col-lg-2 col-xl-1 pr-4 pl-4 mr-2 ml-2 ml-sm-auto mt-auto" th:text="#{filter}">Filter</button>
                        </div>
                    </form>
                </div>
            </div>

            <div th:fragment="ordersList(orders)">
                <div class="table-responsive" th:if="${not #lists.isEmpty(orders)}">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col" th:text="#{create.date.name}">Create date</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')" th:text="#{owner.name}">Owner</th>
                            <th scope="col" sec:authorize="hasRole('DRIVER')" th:text="#{ready.to}">Ready to</th>
                            <th scope="col" th:text="#{sender.name}">From</th>
                            <th scope="col" th:text="#{recipient.name}">To</th>
                            <th scope="col" sec:authorize="hasRole('DRIVER')" th:text="#{address.name}">Address</th>
                            <th scope="col" th:text="#{payed.name}">Payed</th>
                            <th scope="col" sec:authorize="!hasRole('DRIVER')" th:text="#{order.state.name}">State</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN') || hasRole('DRIVER')" th:text="#{actions.name}">Actions</th>
                        </tr>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.createDate}" class="clickable-cell" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <td sec:authorize="hasRole('ADMIN')" th:text="${order.user.fullname}" class="clickable-cell" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <div sec:authorize="hasRole('DRIVER')" th:switch="${order.isReadyToDeliver()}">
                                <td th:case="1" th:text="#{delivery}" class="text-success clickable-cell" style="cursor: pointer;"
                                    th:attr="data-href=@{/order/detail/} + ${order.id}"></td>
                                <td th:case="0" th:text="#{pick.up}" class="text-primary clickable-cell" style="cursor: pointer;"
                                    th:attr="data-href=@{/order/detail/} + ${order.id}"></td>
                                <td th:case="*" th:attr="data-href=@{/order/detail/} + ${order.id}"></td>
                            </div>

                            <td th:text="${order.customer.fullname}" class="clickable-cell" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <td th:text="${order.recipient.fullname}" class="clickable-cell" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <td sec:authorize="hasRole('DRIVER')" th:text="${order.getDriveFormatAddress()}" class="clickable-cell" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <td th:text="${order.payment.payDate == null} ? #{not.payed.name} : ${order.payment.payDate}"
                                th:classappend="${order.payment.payDate == null} ? text-warning : text-success"
                                class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/order/detail/} + ${order.id} "></td>

                            <td sec:authorize="!hasRole('DRIVER')" th:text="#{${order.state.getResourceName()}}" class="clickable-cell"
                                th:classappend="${order.state.name() == 'DELIVERED'} ? 'text-success' : 'text-primary'" style="cursor: pointer;"
                                th:attr="data-href=@{/order/detail/} + ${order.id}"></td>

                            <td sec:authorize="hasRole('ADMIN') || hasRole('DRIVER')">
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/order/edit/} + ${order.id}" class="text-primary mr-1">
                                    <span style="width: 20px; height: 20px" data-feather="edit-2"></span></a>

                                <a sec:authorize="hasRole('DRIVER')" class="btnMap text-warning mr-1"
                                   style="cursor: pointer;" th:attr="data-address=${order.getDriveFormatAddress()}">
                                    <span style="width: 20px; height: 20px" data-feather="map"></span></a>

                                <a sec:authorize="hasRole('DRIVER')" th:id="'btnTruck_' + ${order.id}" class="btnTruck"
                                   style="cursor: pointer;" th:attr="data-order-id=${order.id}"
                                   th:classappend="${T(com.example.delivery_service.controllers.DeliveryController).deliveryOrdersContains(order.id)} ? 'text-primary' : 'text-secondary'">
                                    <span style="width: 20px; height: 20px" data-feather="truck"></span></a>

                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/order/delete/} + ${order.id}" class="ml-1 text-danger"
                                   th:onclick="'return confirm(\'' + #{confirm.delete.order(${order.id})} + '\')'">
                                    <span style="width: 20px; height: 20px" data-feather="trash-2"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div th:if="${#lists.isEmpty(orders)}">
                    <p class="text-muted" th:text="#{no.order.found}">Aktuálně nemáte žádnou objednávku</p>
                    <a class="btn btn-primary" th:text="#{create.new.order.name}" th:href="'/order/new'"></a>
                </div>


                <div class="modal fade" id="map-modal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                            <div class="modal-body p-0" style="height: 500px;">
                                <!--<div th:replace="map :: map(${apiKey})"></div>-->

                                <div id="map"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function redirectToPage(pageNumber){
                        $('#filterPageNumber').val(pageNumber);
                        $('form#filterForm').submit();
                    }
                </script>

                <script sec:authorize="hasRole('DRIVER')" th:inline="javascript">
                    /*<![CDATA[*/

                    $(document).ready(function () {
                        $(".btnTruck").click(function () {
                            var orderId = $(this).data("order-id");
                            $.ajax({
                                url: /*[[@{/delivery/addOrderToDeliverList}]]*/ '',
                                type: 'POST',
                                data: { id: orderId,  markerId: 0 }, //JSON.stringify(orderId)
                                success: function (data) {
                                    var name = '#btnTruck_' + data.value0;
                                    var btn = $(name);
                                    if(data.value1){
                                        btn.removeClass('text-secondary');
                                        btn.addClass('text-primary');
                                        //this.parent().value('text-primary')
                                    }
                                    else {
                                        btn.removeClass('text-primary');
                                        btn.addClass('text-secondary');
                                        //this.value('text-secondary')
                                    }
                                    console.log(data);
                                },
                                error: function (a, b, c) {
                                    console.log(a, b, c);
                                }
                            });
                        });
                    });

                    $(".btnMap").click(function(){
                        var officeAddress = /*[[${officeAddress}]]*/ '';
                        var orderAddress = $(this).data("address");
                        $('#map-modal').modal('show');

                        setTimeout(function () {
                            calculateAndDisplayRoute(officeAddress, orderAddress);
                        }, 500);

                    });

                    $('#map-modal').on('hidden.bs.modal', function () {
                        directionsDisplay.setDirections({routes: []});
                    });

                    /*]]>*/
                </script>

                <script async defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&callback=initMap'"></script>

            </div>

            <nav aria-label="Page navigation example" th:if="${pageCount > 1}">
                <ul class="pagination ml-2">
                    <li class="page-item" th:classappend="${(pageNumber == 0) ? 'disabled' : ''}">
                        <a class="page-link" href="#" th:onclick="'redirectToPage(' + ${pageNumber - 1} + ');'" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, pageCount)}"
                        th:classappend="${(i == pageNumber + 1) ? 'active' : ''}">
                        <a class="page-link" href="#" th:onclick="'redirectToPage(' + ${i - 1} + ');'" th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${(pageNumber == (pageCount - 1)) ? 'disabled' : ''}">
                        <a class="page-link" href="#" th:onclick="'redirectToPage(' + ${pageNumber + 1} + ');'" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

    </main>
    </div>

    <footer th:replace="fragments/layout :: footer"></footer>



</body>
</html>