<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: head('Delivery service - Objednávky')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div th:replace="fragments/layout :: header('Map')"></div>



    <main id="main" role="main" class="h-100 col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" th:text="#{orders.map}">Orders</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-sm btn-primary mr-2"
                   th:href="'/order/new'">
                    <span data-feather="plus"></span>
                    <span th:text="#{new.order.name}">Create new order</span>
                </a>
            </div>
        </div>


        <div id="map" class="map-big"></div>

        <div id="modalOrder" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header pl-3 pr-3 pt-2 pb-2">
                        <h5 class="modal-title" id="modalAddress">Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pl-3 pr-3 pt-2 pb-2">
                        <p class="m-2">
                            <span th:text="#{state.name} + ': '">Order state:</span>
                            <span id="modalState" class="font-weight-bold">State</span>
                        </p>
                        <p class="m-2">
                            <span th:text="#{pickup.type.name} + ': '">Pickup type:</span>
                            <span id="modalPickup" class="font-weight-bold">Pickup type</span>
                        </p>
                        <p class="m-2">
                            <span th:text="#{package.size.category} + ': '">Size category:</span>
                            <span id="modalSize" class="font-weight-bold">Size category</span>
                        </p>
                    </div>
                    <div class="modal-footer pl-3 pr-3 pt-2 pb-2">
                        <input hidden id="modalOrderId" value="0">
                        <input hidden id="modalDataId" value="0">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" th:text="#{btn.close}">Close</button>
                        <button id="modalSelect" type="button" class="btn btn-sm btn-primary"
                                onclick="addOrderToDeliverList();" th:text="#{btn.select}">Select</button>
                    </div>
                </div>
            </div>
        </div>

        <script async defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&callback=initMarkersMap'"></script>

        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            var data;
            var markers = {};
            var blueMarker = '/img/marker_blue.png';
            var redMarker = '/img/marker_red.png';

            function initMarkersMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: {lat: 49.743292, lng: 15.526285} //50.079170, 14.430859
                });

                data = [
                    /*[# th:each="order : ${orders}"]*/

                        [
                            /*[[${order.getDriveAddress().latLng.lat}]]*/,
                            /*[[${order.getDriveAddress().latLng.lng}]]*/,
                            /*[[${order.id.toString()}]]*/,
                            /*[[${order.getDriveFormatAddress()}]]*/,
                            /*[[#{${order.state.getResourceName()}}]]*/,
                            /*[[#{${order.pickupType.getResourceName()}}]]*/,
                            /*[[#{${order.sizeCategory.getResourceName()}}]]*/,
                            /*[[${T(com.example.delivery_service.controllers.DeliveryController).deliveryOrdersContains(order.id)}]]*/,
                        ],

                    /*[/]*/
                ];

                setMarkers(map);
            }

            function setMarkers(map){

                for (var i = 0; i < data.length; i++)
                {
                    var lat = data[i][0];
                    var lng = data[i][1];
                    var address = data[i][3];

                    var iconImg = redMarker;
                    if(data[i][7]){ //isInDeliveryList
                        iconImg = blueMarker;
                    }

                    var latlng = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: address,
                        icon: iconImg
                    });

                    markers[i] = marker;

                    google.maps.event.addListener(marker,'click', (function(marker,data,i){
                        return function() {
                            setModal(i);
                            map.panTo(marker.getPosition());
                        };
                    })(marker,data,i));
                }
            }

            function setModal(index) {
                var orderId = data[index][2];
                var address = data[index][3];
                var state = data[index][4];
                var pickupType = data[index][5];
                var sizeCategory = data[index][6];
                var isInDeliverList = data[index][7];

                $('#modalAddress').text(address);
                $('#modalState').text(state);
                $('#modalPickup').text(pickupType);
                $('#modalSize').text(sizeCategory);
                $('#modalOrderId').val(orderId);
                $('#modalDataId').val(index);

                var btn = $('#modalSelect');
                if(isInDeliverList){
                    btn.removeClass('btn-primary');
                    btn.addClass('btn-outline-primary');
                    btn.text(/*[[#{btn.unselect}]]*/);
                }
                else {
                    btn.removeClass('btn-outline-primary');
                    btn.addClass('btn-primary');
                    btn.text(/*[[#{btn.select}]]*/);
                }

                $('#modalOrder').modal('show');
            }

            function addOrderToDeliverList(e) {
                var orderId = $('#modalOrderId').val();
                var markerId = $('#modalDataId').val();
                $.ajax({
                    url: '/delivery/addOrderToDeliverList',
                    type: 'POST',
                    data: { id: orderId, markerId: markerId }, //JSON.stringify(orderId)
                    success: function (result) {
                        var btn = $('#modalSelect');
                        var index = $('#modalDataId').val();
                        var modal = $('#map-modal');

                        if(result.value1){
                            markers[result.value2].setIcon(blueMarker);
                            data[index][7] = true;
                            btn.removeClass('btn-primary');
                            btn.addClass('btn-outline-primary');
                            btn.text(/*[[#{btn.unselect}]]*/);
                        }
                        else {
                            markers[result.value2].setIcon(redMarker);
                            data[index][7] = false;
                            btn.removeClass('btn-outline-primary');
                            btn.addClass('btn-primary');
                            btn.text(/*[[#{btn.select}]]*/);
                        }

                        modal.modal('hide');
                    },
                    error: function (a, b, c) {
                        console.log(a, b, c);
                        modal.modal('hide');
                    }
                });
            }

            /*]]>*/
        </script>

    </main>

<footer th:replace="fragments/layout :: footer"></footer>




</body>
</html>