<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/layout :: head('Delivery service - User')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>

<div th:if="${isProfile}">
    <div th:replace="fragments/layout :: header('profile')"></div>
</div>
<div th:if="${!isProfile}">
    <div th:replace="fragments/layout :: header('user')"></div>
</div>

<div id="container">
    <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2 mb-2">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" th:text="${user.fullname}"></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <div th:if="${isProfile}">
                        <button type="button" class="btn btn-sm btn-primary" th:onclick="'location.href=\'' + @{/profile} + '\';'">
                            <span data-feather="arrow-left"></span>
                            Profile
                        </button>
                    </div>
                    <div th:if="${!isProfile}">
                        <button type="button" class="btn btn-sm btn-primary" th:onclick="'location.href=\'' + @{/user/detail/} + ${user.id} + '?prof=false\';'">
                            <span data-feather="arrow-left"></span>
                            Detail
                        </button>
                    </div>

                    <button sec:authorize="hasRole('ADMIN')" type="button" id="buttonDelete" class="btn btn-sm btn-outline-danger"
                            th:attr="data-message=#{confirm.delete.user(${user.id})},
                                     data-href=@{/user/delete/} + ${user.id}">
                        <span data-feather="trash-2"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>

        <div th:if="${errorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}" />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form class="needs-validation" method="post" th:action="@{/user/update}" th:object="${user}" th:fragment="userEdit" novalidate>

            <div class="card">
                <div class="card-header" th:text="#{basic.information.name}">
                    Basic information
                </div>
                <div class="card-body">

                    <!--HIDDEN-->
                    <input hidden th:field="*{id}" >
                    <input hidden th:if="*{address != null}" th:field="*{address.id}">
                    <input hidden name="isProfile" th:value="${isProfile}" />

                    <!--FULLNAME & ROLE-->
                    <div class="form-row" sec:authorize="hasRole('ADMIN')">
                        <div class="form-group col-md-6">
                            <label for="name" th:text="#{fullname.name}">Full name</label>
                            <input id="name" type="text" class="form-control" th:field="*{fullname}"
                                   th:classappend="${#fields.hasErrors('fullname')} ? 'is-invalid'" required /> <!--th:classappend="${#fields.hasErrors('name')} ? is-invalid : is-valid"-->
                            <span class="text-danger invalid-feedback" th:text="#{notBlank.message(#{fullname.name})}">jméno je povinné</span>
                        </div>
                        <!--ROLE-->
                        <div class="form-group col-md-6">
                            <label for="role" th:text="#{role.name}">Role</label>
                            <select class="form-control" id="role" name="roleId">
                                <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}" th:selected="${roleId==r.id}">state</option>
                            </select>
                        </div>
                    </div>

                    <!--FULLNAME-->
                    <div class="form-group" sec:authorize="!hasRole('ADMIN')">
                        <label for="name" th:text="#{fullname.name}">Full name</label>
                        <input id="name" type="text" class="form-control" th:field="*{fullname}"
                               th:classappend="${#fields.hasErrors('fullname')} ? 'is-invalid'" required /> <!--th:classappend="${#fields.hasErrors('name')} ? is-invalid : is-valid"-->
                        <span class="text-danger invalid-feedback" th:text="#{notBlank.message(#{fullname.name})}">jméno je povinné</span>
                    </div>

                    <!--EMAIL-->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email" th:text="#{email.name}">Email</label>
                            <input id="email" type="text" class="form-control" th:field="*{email}"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" required />
                            <span class="text-danger invalid-feedback" th:text="#{email.message}">zadejte validní email</span>

                            <div th:if="${emailErrorMessage != null}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                                <span th:text="${emailErrorMessage}" />
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <!--PHONE NUMBER-->
                        <div class="form-group col-md-6">
                            <label for="phoneNumber" th:text="#{phone.number.name}">Telephone number</label>
                            <input id="phoneNumber" type="text" class="form-control" th:field="*{phoneNumber}" />
                        </div>
                    </div>
                    <br>


                    <!--NEW PASSWORD-->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password" th:text="#{password.new.name}">Password</label>
                            <input id="password" type="password" class="psw form-control" name="newPassword"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" minlength="8"/>
                            <span class="text-danger invalid-feedback" th:text="#{size.bigger.then.message('8')}">heslo musí mít minimálně 8 znaků</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password2" th:text="#{password2.name}">Password again</label>
                            <input id="password2" type="password" class="psw form-control" />
                            <span class="text-danger invalid-feedback" th:text="#{password.notEqual.message}">hesla se neshodují</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2 mb-2" id="address">
                <div class="card-header" th:text="#{address.name}">
                    Address
                </div>
                <div class="card-body">
                    <div th:if="${addressErrorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${addressErrorMessage}" />
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!--STREET-->
                    <div class="form-group">
                        <label for="street" th:text="#{address.street.name}">Street</label>
                        <input id="street" type="text" class="form-control" th:field="*{address.street}" />
                    </div>
                    <!--CITY-->
                    <div class="form-group">
                        <label for="city" th:text="#{address.city.name}">City</label>
                        <input id="city" type="text" class="form-control" th:field="*{address.city}"/>
                    </div>
                    <div class="form-row">
                        <!--STATE-->
                        <div class="form-group col-md-6">
                            <label for="state" th:text="#{address.state.name}">State</label>
                            <select class="form-control" id="state" th:field="*{address.state.shortcut}">
                                <option th:each="state : ${states}" th:value="${state.shortcut}" th:text="${state.name}">state</option>
                            </select>
                        </div>
                        <!--ZIP-->
                        <div class="form-group col-md-6">
                            <label for="zip" th:text="#{address.zip.name}">Zip</label>
                            <input id="zip" type="text" class="form-control" th:field="*{address.zip}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2" id="adr" sec:authorize="!hasRole('ADMIN')">
                <div class="card-header" th:text="#{password.confirm.name}">
                    Potvrdit heslo
                </div>
                <div class="card-body">

                    <div th:if="${passwordErrorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${passwordErrorMessage}" />
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--PASSWORD-->
                    <div class="form-group">
                        <label for="origPassword" th:text="#{password.old.name}">Password</label>
                        <input id="origPassword" type="text" th:field="*{password}" class="form-control"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" required minlength="8"/>
                        <span class="text-danger invalid-feedback" th:text="#{size.bigger.then.message('8')}">heslo musí mít minimálně 8 znaků</span>
                    </div>

                </div>
            </div>

            <button id="submitButton" type="submit" class="btn btn-primary pl-4 pr-4 float-right" th:text="#{btn.save}">Save</button>
            <div class="clearfix"></div>
        </form>

    </main>
</div>

<div th:replace="fragments/layout :: footer"></div>

<script>
    $('#buttonDelete').on('click', function () {
        var result = confirm($(this).data("message"));
        if (result) {
            window.location = $(this).data("href");
        }
    })
    
    $('#submitButton').on('click', function () { comparePasswords($('#password'), $('#password2'), false) });
    $('#password').on('input', function () { checkPassword($('#password'), $('#password2'), false) });
    $('#password2').on('input', function () { comparePasswords($('#password'), $('#password2'), false) });
</script>

</body>
</html>