<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: head('Delivery service - User')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>


<div th:if="${isProfile}">
    <div th:replace="fragments/layout :: header('profile')"></div>
</div>
<div th:if="${!isProfile}">
    <div th:replace="fragments/layout :: header('user')"></div>
</div>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="${user.fullname}">Name</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-primary" th:onclick="'location.href=\'' + @{/user/edit/} + ${user.id} + '?prof='+ ${isProfile} +'\';'">
                    <span data-feather="edit"></span>
                    Edit
                </button>
                <button type="button" id="buttonDelete" class="btn btn-sm btn-outline-danger"
                        th:attr="data-message=#{confirm.delete.user(${user.id})},
                                 data-href=@{/user/delete/} + ${user.id}">
                    <span data-feather="trash-2"></span>
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <p class="text-muted mb-1" th:text="#{email.name} + ':'"></p>
            <p class="ml-2 font-weight-bold" th:text="${user.email}"></p>
        </div>
        <div class="col-sm-6 col-lg-8">
            <p class="text-muted mb-1" th:text="#{phone.number.name} + ':'"></p>
            <p class="ml-2 font-weight-bold" th:text="${user.phoneNumber}"></p>
        </div>
    </div>

    <p class="text-muted mb-2" th:text="#{address.name} + ':'"></p>
    <a th:if="${user.address == null || user.address.id == null}" class="btn btn-sm btn-primary ml-2" th:href="@{/user/edit/} + ${user.id} + '?prof=' + ${isProfile} + '#adr'" th:text="#{btn.add.address}">Add address</a>

    <table class="table table-sm table-borderless ml-4 col-sm-5 col-xl-2 " th:if="${user.address != null && user.address.id != null}">
        <tr>
            <td class="text-muted" th:text="#{address.city.name} + ':'">City:</td>
            <td class="font-weight-bold" th:text="${user.address.city}">...</td>
        </tr>
        <tr>
            <td class="text-muted" th:text="#{address.street.name} + ':'">Street:</td>
            <td class="font-weight-bold" th:text="${user.address.street}">...</td>
        </tr>
        <tr>
            <td class="text-muted" th:text="#{address.zip.name} + ':'">Zip:</td>
            <td class="font-weight-bold" th:text="${user.address.zip}">...</td>
        </tr>
    </table>

</main>

<script>
    $('#buttonDelete').on('click', function () {
        var result = confirm($(this).data("message"));
        if (result) {
            window.location = $(this).data("href");
        }
    })
</script>

</body>
</html>