<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: head('Delivery service - Users')">
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>


        <div th:replace="fragments/layout :: header('user')"></div>

        <div id="container">
            <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-2">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Users</h1>
                </div>

                <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Role</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Create Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                        <tr th:each="user : ${users}" th:classappend="${!user.isActive()} ? 'table-warning' ">
                            <td th:text="${user.id}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td th:text="${user.fullname}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td th:text="${user.roles[0].name}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td th:text="${user.email}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td th:text="${user.phoneNumber}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td th:text="${user.createDate}" class="clickable-cell" style="cursor: pointer;" th:attr="data-href=@{/user/detail/} + ${user.id} + '?prof=false'"></td>
                            <td>
                                <a th:href="@{/user/edit/} + ${user.id} + '?prof=false'" class="text-primary">
                                    <span style="width: 20px; height: 20px" data-feather="edit-2"></span></a>
                                <a th:if="${user.isActive()}" th:href="@{/user/delete/} + ${user.id}" class="ml-1"
                                   th:onclick="'return confirm(\'' + #{confirm.delete.user(${user.id})} + '\')'">
                                    <span class="text-danger" style="width: 20px; height: 20px" data-feather="trash-2" ></span>
                                </a>
                                <a th:if="${!user.isActive()}" th:href="@{/user/delete/} + ${user.id}" class="ml-1">
                                    <span class="text-success" style="width: 20px; height: 20px" data-feather="user-check" ></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

            </main>
        </div>

        <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>