<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(pageTitle)">
    <meta charset="utf-8">

    <title th:text="${pageTitle}">Delivery Service</title>

    <!-- CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/secure-style.css}" rel="stylesheet">

</head>
<body>
<header th:fragment="header(pageName)">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0" href="#">
            <img alt="icon" class="img-fluid mr-2" style="width: 30px;" src="/img/icon.png">
            Delivery Service
        </a>

        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}" th:text="#{btn.logout}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'dashboard'} ? 'active'" href="#">
                                <span data-feather="home"></span>
                                <span th:text="#{nav.dashboard}">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'profile'} ? 'active'" th:href="@{/profile}">
                                <span data-feather="user"></span>
                                <span th:text="#{nav.profile}">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'order'} ? 'active'" th:href="@{/orders}">
                                <span data-feather="file"></span>
                                <span th:text="#{nav.orders}">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link pt-1" th:classappend="${pageName == 'newOrder'} ? 'active'" th:href="@{/order/new}">
                                <span style="color: green;" data-feather="plus-square"></span>
                                <span th:text="#{nav.order.new}">New order</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'product'} ? 'active'" href="#">
                                <span data-feather="shopping-cart"></span>
                                <span>Products</span>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link" th:classappend="${pageName == 'user'} ? 'active'" th:href="@{/users}">
                                <span data-feather="users"></span>
                                <span th:text="#{nav.users}">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'report'} ? 'active'" href="#">
                                <span data-feather="bar-chart-2"></span>
                                <span>Reports</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'integration'} ? 'active'" href="#">
                                <span data-feather="layers"></span>
                                <span>Integrations</span>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span th:text="#{nav.orders.current}">Current orders</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Order 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Order 2
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Order 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Order 4
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script>
        feather.replace();
    </script>
</header>


</body>
</html>