<!DOCTYPE html>
<html lang="en" th:lang="#{lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(pageTitle)">
    <meta charset="utf-8">

    <!--Icon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/img/icon/site.webmanifest">
    <link rel="mask-icon" href="/img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    <title th:text="${pageTitle}">Delivery Service</title>

    <!-- CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/secure-style.css}" rel="stylesheet">

</head>
<body>
<header th:fragment="header(pageName)">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0" href="/">
            <img alt="icon" class="img-fluid mr-2" style="width: 30px;" src="/img/icon.png">
            Delivery Service
        </a>

        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}" th:text="#{btn.logout}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'profile'} ? 'active'" th:href="@{/profile}">
                                <span data-feather="user"></span>
                                <span th:text="#{profile}">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageName == 'Orders' || pageName == 'Order'} ? 'active'" th:href="@{/orders}">
                                <span data-feather="file"></span>
                                <span th:text="#{orders}">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link pt-1" th:classappend="${pageName == 'newOrder'} ? 'active'" th:href="@{/order/new}">
                                <span class="text-success" data-feather="plus-square"></span>
                                <span th:text="#{new.order}">New order</span>
                            </a>
                        </li>
                        <li class="nav-item ml-2" sec:authorize="hasRole('DRIVER')">
                            <a class="nav-link pt-1" th:classappend="${pageName == 'Map'} ? 'active'" th:href="@{/orders/map}">
                                <span class="text-warning" data-feather="map"></span>
                                <span th:text="#{orders.map}">Orders map</span>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('DRIVER')">
                            <a class="nav-link" th:classappend="${pageName == 'delivery'} ? 'active'" th:href="@{/delivery}">
                                <span class="text-primary" data-feather="truck"></span>
                                <span th:text="#{delivery}">Delivery</span>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link" th:classappend="${pageName == 'user'} ? 'active'" th:href="@{/users}">
                                <span data-feather="users"></span>
                                <span th:text="#{users}">Users</span>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span th:text="#{current.orders}">Current orders</span>
                        <a class="d-flex align-items-center text-muted" th:href="@{/order/new}">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2" th:if="${not #lists.isEmpty(navOrders)}" th:each="order : ${navOrders}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/order/detail/} + ${order.id}">
                                <span data-feather="file-text"></span>
                                <span sec:authorize="hasRole('CUSTOMERS') || hasRole('ADMIN')" th:text="${order.recipient.address.getShortAddress()}"></span>
                                <span sec:authorize="hasRole('DRIVER')" th:text="${order.getDriveAddress().getShortAddress()}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script src="/js/form.validation.js"></script>

    <script src="/js/google.map.js"></script>

    <script>
        jQuery(document).ready(function() {
            feather.replace();

            $(".clickable-cell").click(function() {
                window.location = $(this).data("href");
            });
        })
    </script>
</header>

<footer id="footer" class="bg-dark text-white p-2 col-md-9 ml-sm-auto col-lg-10" th:fragment="footer">
    <div>
        <span>&copy; 2019 Delivery Service.</span>
    </div>

    <script>
        jQuery(document).ready(function() {

            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = $('.needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

        });
    </script>
</footer>


</body>
</html>